// layout/_main.scss - Main layout and split panel

@use '../abstracts/variables' as *;

.main-layout {
  height: 96vh;
  margin: 3vh;
  border: 1px solid color(border-primary);
  background-color: color(bg-primary);
  display: flex;
  flex-direction: column;
  border-radius: 2vh ;
  
  &__content {
    flex: 1;
    display: flex;
    overflow: hidden;
  }
}

.split-panel {
  display: flex;
  height: 100%;
  width: 100%;
  
  &__left {
    width: 50%;
    padding: spacing(8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid color(border-primary);
    position: relative;
    background-image: url('/graphics/Ellipse 2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;


  }
  
  &__right {
    width: 50%;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    
    &::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
    }
  }
}